* {
    box-sizing: border-box;
  }
.signup{
        color: #1c1e21;
            font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 0;
            font-weight: 600;
}
.signup-form{
    width: 32%;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #bebebe;
    font-family: Helvetica, Arial, sans-serif;
}
.text-input{
    margin-top: 10px;
    height: 40px;
    width:100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display:flex;   
    align-items: center;
    padding-left:10px;
    font-size: 15px;
    justify-content: space-between  ;
}
.full-name>.text-input{
    background-color: #f9f8f8;

}
.text-input#phoneEmail,.text-input#newPass{
   background-color: #f9f8f8;
}
.inputtext{
    width: 100%;
    display: flex;
    border: none;
    font-size: 15px;
    background-color: #f9f8f8;

}
.infor-icon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/EV7ny501e-i.png);
    background-size: auto;
    transform: scale(.76);
    background-repeat: no-repeat;
    /* display: inline-block; */
    height: 21px;
    width: 21px;
    padding-right: 21px;
    margin-right: 20px;
}
.note-icon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/EV7ny501e-i.png);
    width: 12px;
    height: 12px;
    padding-right: 21px;
    margin-right: 20px;
    margin-left:5px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 -60px;
}
.inputtext:focus{
    outline: none;
}
.line{
    border-top:1px solid #ccc;
}
.full-name{
    width: 100%;
    display: flex;
}

.full-name >#surname {
    margin-left: 12px;
}
.date-of-birth{
    
    width: 100%;
    display: flex;
}
[name="month"], [name="year"],.gender>:nth-child(2),.gender>:nth-child(3){
    margin-left:10px;
}
.gender{
       display: flex;

}
.gender>span{
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
}

.note{
    font-size: 12px;
    color: #666;

}
.sign-up-button{
    align-items: center;
    background: #00A400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}